{% extends 'base.html' %}

{% load bootstrap4 %}

{% block title %}
    Список закладок
{% endblock title %}

{% block content %}
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">Ссылка</th>
          <th scope="col">Заголовок</th>
          <th scope="col">Описание</th>
          <th scope="col">Фавикон</th>
        </tr>
      </thead>
      <tbody>
        {% for bookmark in object_list %}
            <tr>
              <td>{{ bookmark.bookmark_url }}</td>
              {% if bookmark.statys != "Done" %}
                  <td colspan="3">{{ bookmark.get_statys_display }}</td>
              {% else %}
                  <td>{{ bookmark.title }}</td>
                  <td class="col-md-4">{{ bookmark.description }}</td>
                  <td>
                      <img class="img-fluid" width="50px" src="{{ bookmark.favicon_url }}" alt="">
                  </td>
              {% endif %}
            </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock content %}
